*.gem
*.rbc
/.config

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/


/coverage/
/.fvm/
.DS_Store
melos_modular.iml
/pubspec.lock
/pubspec_overrides.yaml
